@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

p {
  color: black;
}

button {
  border-width: 2px;
  border-style: outset;
}

button:active {
  border-style: inset;
}

a {
  cursor: pointer;
}
